In [1]:
#importing all the necessary libray for 
#reading and visualization of the datasets
import numpy as np 
import pandas as pd
import seaborn as sns

#Importing the modules and the library for regression 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from  sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
df = pd.read_csv("energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
#df.info()

In [4]:
#df.describe().T

In [5]:
simple_linear_reg_df = df[["T2","T6"]].sample(15,random_state=2)
simple_linear_reg_df

              T2         T6
1117   17.426667  -4.238889
16275  22.760000  14.690000
13272  21.230000   8.926667
3160   21.100000   7.690000
19210  21.856667  10.800000
8260   17.356667   5.000000
12299  19.000000   5.300000
13505  22.700000  17.133333
12913  19.593333   7.545000
17788  21.890000   9.190000
17894  21.500000   5.160000
7665   19.142857   0.937500
10165  18.000000   0.200000
18809  22.400000  16.833333
8737   17.066667   1.900000

In [6]:
scaler = MinMaxScaler()
#Normalised_df = pd.DataFrame(df,columns=df.columns)
features_df = df.drop(columns=["date","lights"])
app_target = df["Appliances"]

In [7]:
x_train,x_test,y_train,y_test = train_test_split(features_df,app_target,test_size=0.3,random_state=1)

In [8]:
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
predicted_values = linear_model.predict(x_test)

In [9]:
r2_score = r2_score(y_test,predicted_values)
r2_score = round(r2_score,3)
r2_score

1.0

In [10]:
mae = mean_absolute_error(y_test,predicted_values)
mae = round(mae,3)
mae

0.0

In [11]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

0.0

In [12]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse = round(rmse,3)
rmse

0.0

In [13]:
ridge_leg = Ridge(alpha = 0.5)
ridge_leg.fit(x_train,y_train)

Ridge(alpha=0.5)

In [14]:
from sklearn.linear_model import Lasso
lasso_leg = Lasso(alpha = 0.001)
lasso_leg.fit(x_train,y_train)


def get_weights_df(model,feat,col_name):

  weights= pd.Series(model.coef_,feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ["Features", col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, "Linear_Model_Weight")
ridge_weights_df = get_weights_df(ridge_leg, x_train, "Ridge_Weight")
lasso_weights_df = get_weights_df(lasso_leg, x_train, "Lasso_Weight")

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on="Features")
final_weights = pd.merge(final_weights,lasso_weights_df,on="Features")